/*theming colors to play with different looks*/
/* :root {
  --primary-color: #000f14;
  --secondary-color: #6c757d;
  --accent-color: #ff64c4;
  --light-color: #a6a6a6;
  --dark-color: #212529;
} */

/* :root {
  --primary-color: #355C7D;
  --secondary-color: #6C5B7B;
  --accent-color: #C06C84;
  --light-color: #F8B195;
  --dark-color: #2E4053;
} */

/* :root {
  --primary-color: #393E46;
  --secondary-color: #F7B801;
  --accent-color: #00ADB5;
  --light-color: #EEEEEE;
  --dark-color: #222831;
} */

/* :root {
  --primary-color: #44355B;
  --secondary-color: #8D6E63;
  --accent-color: #EF5350;
  --light-color: #FCEADE;
  --dark-color: #262A34;
} */

/* :root {
  --primary-color: #5D5346;
  --secondary-color: #7E736F;
  --accent-color: #C2B8AD;
  --light-color: #D3D3C9;
  --dark-color: #2E2E2E;
} */

/* :root {
  --primary-color: #595959;
  --secondary-color: #7F7F7F;
  --accent-color: #AF8F7A;
  --light-color: #E3D3BF;
  --dark-color: #2E2E2E;
} */

/* :root {
  --primary-color: #5D5346;
  --secondary-color: #7F7F7F;
  --accent-color: #AF8F7A;
  --light-color: #E3D3BF;
  --dark-color: #694F91;
} */

/* :root {
  --primary-color: #5D5346;
  --secondary-color: #AF8F7A;
  --accent-color: #694F91;
  --light-color: #E3D3BF;
  --dark-color: #7F7F7F;
} */

/* :root {
  --primary-color: #5D5346;
  --secondary-color: #78866B;
  --accent-color: #AF8F7A;
  --light-color: #E3D3BF;
  --dark-color: #694F91;
} */

:root {
  --primary-color: #694F91;
  --secondary-color: #9F86C0;
  --accent-color: #F5B041;
  --light-color: #F7DCDC;
  --dark-color: #2C3E50;
}










.logo {
  height: 50px;
}

@media screen and (max-width: 575px) {
  .logo {
    max-height: 40px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
}

.navbar-collapse {
  background-color: var(--primary-color);
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--light-color) !important;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

.container-fluid {
  padding: 0 15px;
}

/* Form related styles */
.custom-form-group {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.custom-form-group label {
  color: var(--dark-color);
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.custom-form-group input {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.custom-form-group textarea {
    background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.custom-form-group textarea:focus {
     box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

.custom-form-group input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

.custom-form-group select:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

/* Heading styles */
h3 {
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Container, Row, and Col related styles */
.container-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 15px;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .container-form {
    padding: 50px 30px;
  }
}







