/*theming colors to play with different looks*/

:root {
  --primary-color: #694f91;
  --secondary-color: #9f86c0;
  --accent-color: #ff647c;
  --light-color: #dfe0e2;
  --dark-color: #1d1f20;
}

/* :root {
  --primary-color: #694f91;
  --secondary-color: #9f86c0;
  --accent-color: #f5b041;
  --light-color: #f7dcdc;
  --dark-color: #2c3e50;
} */

/* :root {
--primary-color: #6d7c66;
--secondary-color: #a19e88;
--accent-color: #d8b99c;
--light-color: #e8e4d8;
--dark-color: #3c3f3a;
} */

/* :root {
--primary-color: #7a6a55;
--secondary-color: #b3a28e;
--accent-color: #c9ac96;
--light-color: #e5e0d6;
--dark-color: #2a2824;
} */


.logo {
  height: 50px;
}

@media screen and (max-width: 575px) {
  .logo {
    max-height: 40px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
}

.navbar-collapse {
  background-color: var(--primary-color);
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--light-color) !important;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

.container-fluid {
  padding: 0 8px;
}

/* Form related styles */
.custom-form-group {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* these are style matching the font */
form label {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.custom-form-group label {
  color: var(--dark-color);
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.custom-form-group input {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.custom-form-group textarea {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.custom-form-group textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

.custom-form-group input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

.custom-form-group select:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 196, 0.25);
  border-color: var(--accent-color);
}

/* Heading styles */
h3 {
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Container, Row, and Col related styles */
.container-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 15px;
  background-color: white;
  border-radius: 10px;
  /*add line below for one idea*/
  border: 4px double var(--primary-color);
}

@media screen and (min-width: 768px) {
  .container-form {
    padding: 50px 30px;
  }
}

form {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 20px;
}

.btn {
  display: block;
  margin: 30px auto 0;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border-color: var(--secondary-color);
}

@media screen and (max-width: 575px) {
  .btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}
