/* Add your custom color palette */
:root {
  --primary-color: #000f14;
  --secondary-color: #6c757d;
  --accent-color: #ff64c4;
  --light-color: #a6a6a6;
  --dark-color: #212529;
}

.logo {
  height: 50px;
}

@media screen and (max-width: 575px) {
  .logo {
    max-height: 40px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
}

.navbar-collapse {
  background-color: var(--primary-color);
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--light-color) !important;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

.container-fluid {
  padding: 0 15px;
}

/* Add responsive padding */
@media screen and (min-width: 768px) {
  .container-fluid {
    padding: 0 30px;
  }
}


